# Core functionality - changes here should be rare!
/src/app.py                   @Daniyal-Sarwar
/src/backend/database.py      @Daniyal-Sarwar
/src/backend/routers/auth.py  @Daniyal-Sarwar

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Daniyal-Sarwar
